@import "../../../styles/base";
.discover_movies {
  max-width: 100%;
  list-style: none;
  overflow-x: auto;
  margin: 10px auto;
  padding: 0 5% 0 5%;
  white-space: nowrap;
  background-color: $color;

  li {
    display: inline-block;
    width: 120px;
    height: auto;
    margin: 20px 20px 20px 0px;
  }
}
