.app {
  min-height: 100%;
}

.inline {
  display: inline-block;
}

.main_view {
  position: relative;
  background-color: #0c171e;
  height: 100%;
  width: calc(100% - 325px);
  margin-left: 325px;
  overflow: hidden;

  @media only screen and (max-width: 970px) {
    width: calc(100% - 225px);
    margin-left: 225px;
  }
  @media only screen and (max-width: 680px) {
    width: 100%;
    margin-left: 0;
  }
}

.movie_genres {
  max-width: 90%;
  margin: 0 auto;
  font-size: 1.5rem;
}

.page_name {
  margin-top: 30px;
  text-align: center;
  font-size: 1.5rem;
  color: #607d8b;
}

.avatar {
  width: 30px;
  margin-left: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.header-container {
  display: inline-block;
  float: right;
}

.account_wrapper {
  margin: 0 auto;
}

.user_name {
  font-size: 0.7rem;
  font-weight: 600;
  margin: 0;
}

.menu-button {
  margin: 2em auto;
  border: none;
  display: inline-block;
  padding: 0;
  color: inherit;
  background-color: inherit;
  white-space: nowrap;
  opacity: 0;

  @media only screen and (max-width: 680px) {
    opacity: 1;
    cursor: pointer;
  }
}

.back-drop {
  width: 100%;
  height: 100%;
  background-color: #ffffff25;
  display: none;
  position: fixed;
  top: 0;
  @media only screen and (max-width: 680px) {
    display: block;
  }
}

.header {
  padding: 0 40px;
}
