.movie {
  height: 100%;
  min-height: 250px;
}
.movie_selected {
  box-shadow: 0 0 5px #26bbf052;
  background-color: #26bbf00f;
}

.movie_item {
  position: relative;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.movie_poster {
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5em;
  height: 100;
  max-height: 200px;
}

.movie_title {
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0 0 0.7rem;
  text-align: center;
}

.movie_info {
  text-align: center;
  font-size: 0.5rem;
  color: #6e7687;
  margin: auto 0 5px 0;
}

.movie_watch_later__button {
  background-color: #131c25;
  font-size: 0.7rem;
  border: solid 1px #25baef;
  color: #25baef;
}

.movie_watch_later__button:hover {
  background-color: rgba(16, 212, 254, 0.3);
}
