.side_menu {
  position: fixed;
  float: left;
  width: 325px;
  height: 100%;
  animation: animateleft 0.4s;
  display: block;
  top: 0;

  ul {
    padding: 0;
  }
  li {
    padding: 10px 0 0 65px;
    color: #f9f9fa;
    letter-spacing: 1px;
    list-style-type: none;
    font-size: 0.9rem;
    font-weight: 600;
  }
  li:hover,
  li.selected {
    color: #10d0f8;
  }

  @media only screen and (max-width: 970px) {
    width: 225px;
  }
  @media only screen and (max-width: 680px) {
    background: #131c25;
    z-index: 1;
    left: 0;
    overflow: auto;
    display: none;
  }
}

.categories li {
  color: #8a92a5;
  font-weight: 300;
}

.logo_container {
  padding: 20px;
}

.logo {
  display: block;
  margin: auto;
  width: 50px;
}

.side_menu__title {
  padding: 15px 0 0 65px;
  color: #565e6e;
  font-size: 0.85rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.badge {
  padding: 3px 7px;
  font-size: 12px;
  background-color: #e91e63;
  border-radius: 10px;
}

.animate {
  animation: animateleft 0.4s;
}

.black {
  display: block;
}

.none_mobile {
  @media only screen and (max-width: 680px) {
    display: none;
  }
}

@keyframes animateleft {
  0% {
    left: -300px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
