@import "base";
@import "~bootstrap/scss/bootstrap.scss";

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 445px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@use postcss-cssnext;

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #131c25;
  color: #fff;
  font-family: sans-serif;
  font-style: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

input {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
}

.search {
  border: solid #eee 1px;
  font-size: 1rem;
  margin: 2em auto;
  max-width: 90%;
}

.search [type="search"] {
  padding: 0.1em 1em;
  width: 100%;
}
